:root {
  --background-color: #1a1724;
  --yellow-border: #f2b705;
  --table-element: 4rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#restart-button,
#guess-button {
  border: 0.2rem solid var(--yellow-border);
  background-color: var(--background-color);
}

#play-game {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  max-width: 26rem;
}

#error-message {
  color: white;
  margin-top: 1rem;
  text-align: center;
}

#guess-button {
  font-size: 1rem;
  background-color: var(--yellow-border);
  color: #000;
  outline: none;
  margin: 0 0.3rem;
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
}

#country-avatar, #team-avatar {
  width: 2rem;
  height: 2rem; 
  background-color: #fff 
}

[id^="shield-"], [id^="player-img"] {
  width: var(--table-element);
  height: var(--table-element);
}

[id^="flag-"] {
  font-size: var(--table-element);
}

.counter {
  font-size: 2rem;
  margin: 1rem 0;
  color: var(--yellow-border)
}

.counter-container {
  text-align: center;
  font-family: 'Arial, sans-serif';
}
