:root {
  --background-color: #1a1724;
  --yellow-border: #f2b705;
  --table-element: 4rem;
  /* --font-family: 'Roboto', 'Arial', sans-serif; */
}

body {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color)
}

#restart-button,
#guess-button {
  border: 0.2rem solid var(--yellow-border);
  background-color: var(--background-color);
}

#play-game {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  max-width: 26rem;
}

#error-message {
  color: white;
  margin-top: 1rem;
  text-align: center;
}

#guess-button {
  font-size: 1rem;
  background-color: var(--yellow-border);
  color: #000;
  outline: none;
  margin: 0 0.3rem;
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
}

#country-avatar,
#team-avatar {
  width: 2rem;
  height: 2rem;
  background-color: #fff
}

[id^="shield-"],
[id^="player-img"] {
  width: var(--table-element);
  height: var(--table-element);
}

[id^="flag-"] {
  font-size: var(--table-element);
}

.counter {
  font-size: 2rem;
  margin: 1rem 0;
  color: var(--yellow-border)
}

.counter-container {
  text-align: center;
  /* font-family: var(--font-family); */
}

#td-cell {
  text-align: center;
  background-color: #052031;
  border: 1px solid #0096a9;
  height: 6rem;
  width: 6rem;
}

#tab {
  color: var(--yellow-border);
  /* font-family: var(--font-family); */
}

#tab {
  border: var(--yellow-border);
}

.App-container {
  margin-top: 2rem;
}

.slick-arrow {
  visibility: hidden;
}